<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <% #Bootstrap CSS %>
    <%= stylesheet_link_tag "bootstrap", "bootstrap.min.css" %>


    <% # Style %>
    <%= stylesheet_link_tag "application", "style" %>

    <title>Booking a game</title>
  </head>

  <body>
    <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
              <h2 class="mb-5">Book your<br> game below. </h2>
                <%= render 'flash' %>
                <%= form_with method: "post", model: booking, class: "border-right pr-5 mb-5" do |form| %>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <%= form.text_field :full_name , class: "form-control", placeholder: "First name"%>
                  </div>
                  <div class="col-md-6 form-group">
                    <%= form.text_field :phone , class: "form-control", id: "phone", maxlength: 11, placeholder: "Contact Phone"%>
                  </div>
                  <div class="col-md-6 form-group">
                    <%= form.text_field :email , class: "form-control", placeholder: "E-mail"%>
                  </div>
                  <div class="col-md-6 form-group">
                    <%= form.text_field :cpf , class: "form-control", maxlength: 11, placeholder: "CPF"%>
                  </div>
                  <div class="col-md-6 form-group">
                    <p> Booking start </p>
                    <%= form.datetime_local_field :booking_time_start , id: "dateTimePicker", placeholder: "Booking time start"%>
                  </div>
                  <div class="col-md-6 form-group">
                    <p> Booking ending </p>
                    <%= form.datetime_local_field :booking_time_ending , id: "dateTimePicker", placeholder: "Booking time ending"%>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 form-group">
                    <%= form.text_area :annotation, class: "form-control", id: "textarea", cols: "30", rows: "7", placeholder: "Write your message" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= form.submit "Send message", class: "btn btn-primary rounded-0 py-2 px-4"%>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-lg-4 ml-auto">
              <h3 class="mb-4">Let's talk about everything.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil deleniti itaque similique magni. Magni, laboriosam perferendis maxime!</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>  
        </div>
      </div>
  </div>