<!DOCTYPE html>
<html>
  <head>
    <title>ArenaCerrado</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'bootstrap' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'application_style' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'script' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
<!--  <p class="notice"><%#= notice %></p>-->
<!--  <p class="alert"><%#= alert %></p>-->
  <header>
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="menu">
        <ul>
          <li> <%= link_to 'Home', root_path %> </li>
          <li> <%= link_to 'Booking', new_booking_path %> </li>
          <li><a href="#">Blog</a></li>
          <li class="logo">
            <%= link_to root_path do %>
              <%= image_tag 'Prancheta 1.png', id: 'team-logo'%>
            <% end %>
          </li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <%= yield %>
  </body>
</html>
